<%- include('partials/header'); -%>

    <div style="background-image: url('https://ambar.com/wp-content/uploads/2019/04/especie-scaled.jpg');">
    <section class="container">
        <H2 style="color: white;">WeCook</H2>
        <div class="container-fluid">
            <div>
                <label for="input-autocompletado">Ingrese tags:</label>
                <input id="input-autocompletado" type="text">
            </div>
            <div id="tags-container" class="slider"></div>
        </div>
        
        <button id="btn-favorito" class="btn btn-outline-danger">
            <i id="icono-favorito" class="bi bi-heart"></i> Favoritos
        </button>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" onclick="mostrarPaises()" aria-expanded="false">
              paises
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown">
              
            </ul>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" onclick="mostrarCategorias()" aria-expanded="false">
                categorias
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown1">
                
              </ul>
          </div>
        <div style="height: 100px;">
            <ul class="list"></ul>
        </div>
        
    </section>
</div>

<%- include('partials/categories'); %>

<%- include('partials/tags'); %>

        <div class="container my-3">
            <h2 class="text-center mb-4">Recetas</h2>
            <div class="card-group" id="recipes">
            </div>
        </div>

        <%- include('partials/params'); %>
            <%- include('partials/recipe'); %>
                <%- include('partials/modal_ingredients'); %>
        <%- include('partials/favorite'); %>

                    <!-- Botón para abrir el modal -->


                    <!-- Scripts de Bootstrap 5.0.2 -->
                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>


                    <%- include('partials/footer'); %>